{% extends 'bootstrap.html' %}

{% load static %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block title %}
  Coodise index
{% endblock %}

{% block extrahead %}
  <link rel="shortcut icon" type="image/png" href="{% static "images/server.png" %}"/>
{% endblock %}

{% block bootstrap3_content %}

  {% autoescape off %}
    {% bootstrap_messages %}
  {% endautoescape %}

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Coodise</a>
      {% block navbar %}
      {% endblock %}
  </nav>

  {% block body %}
    [No content ]
  {% endblock %}

{% endblock %}
