{% if user.is_staff %}
  <div class="modal fade" id="show-debug" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Debug info</h4>
        </div>
        <div class="modal-body">
          <span class="preview" style="white-space: pre-line">
            {% debug %}
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
