{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block bootstrap3_extra_script %}
  <script src={% static "js/navbar.js" %}></script>
  <script src={% static "js/content_filter.js" %}></script>
  <script src={% static "js/main.js" %}></script>
{% endblock %}

{% block title %}
  {% if webpage_title %}
    {{ webpage_title }}
  {% else %}
    Coodise::{{ last_path_element }}
  {% endif %}
{% endblock %}

{% block body%}
  <div id="mainContainer" class="container">

    {% autoescape off %}
      {% bootstrap_messages %}
    {% endautoescape %}

    <div class="col-lg-8 col-md-8 col-sm-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Content of {% if last_path_element %}{{ last_path_element }}{% else %}Coodise{% endif %}</h4>
        </div>
      </div>

      <div class="list-group">
        {% for directory in directories %}
          {% if path or not directory.is_parent %}
            {% if directory.relative_path %}
                <a href="{% if not path %}path/{% endif %}{{ directory }}/" class="list-group-item">
                  <span class="glyphicon glyphicon-folder-open"></span> {{ directory }}
                </a>
            {% else %}
                <a href="{% url "index" %}"><span class="glyphicon glyphicon-folder-open"></span> {{ directory }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% for file in files %}
          <a href="{% if user.is_anonymous %}#{% else %}{% url "file_server" file.get_full_path %}{% endif %}" class="list-group-item file_content {% if user.is_anonymous %}disabled{% endif %}"{% if user.is_anonymous %} title="You need to login to access {{ file }}"{% endif %}>
            {% if file.get_media_type %} {# it is some kind of media, so render peek badge #}
              {% if not user.is_anonymous %}
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn badge spoiler" data-toggle="modal" data-target="#modal_{{ file|idFriendly }}">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              {% endif %}
            {% endif %}
            <span class="glyphicon {{ file.media_type.image }}"></span> {{ file }}
          </a>

        {% endfor %}
      </div>

    </div>

    <!-- Tools DIV-->
    <div class="col-lg-4 col-md-4 col-sm-12">
      {% include "tools.html" %}

    </div>

    {% if loadtime %}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            loaded in {{ loadtime }}ms
          </div>
        </div>
      </div>
    {% endif %}

    <div class="modals">

      {% if have_access_for_writing %}
        <div class="modal fade" id="modal_create_dir" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new directory in current one</h4>
              </div>
              <div class="modal-body">
                {% crispy create_dir_form %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      {% for file in files %}
      {# prepare modal window #}
        {% if file.get_media_type %} {# it is some kind of media, so render modal window #}
          {% if not user.is_anonymous %}
            <div class="modal fade" id="modal_{{ file|idFriendly }}" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Preview of {{ file }}</h4>
                  </div>
                  <div class="modal-body">
                    {% if file.get_media_type == "Video" %}
                      <video class="preview" height=480px preload="none" controls>
                          <source src="{% url "file_server" file.get_full_path %}">
                      </video>
                    {% elif file.get_media_type == "Audio" %}
                      <audio class="preview" preload="none" controls>
                          <source src="{% url "file_server" file.get_full_path %}">
                      </audio>
                    {% elif file.get_media_type == "Picture" %}
                      <img class="rounded preview" src="{% url "file_server" file.get_full_path %}"> {# TODO: Rewrite with Ajax #}
                    {% elif file.get_media_type == "Text" %}
                      <span class="preview" style="white-space: pre-line">
                        <pre class="pre-scrollable">{{ file.get_content|tabsToSpaces }}</pre>
                      </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

  </div>
{% endblock %}


{% block navbar_content %}
  {% include "navbar.html" %}
{% endblock %}
