{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_script %}
<script src={% static "js/navbar.js" %}></script>
{% endblock %}

{% block title %}
{% if webpage_title %}
    {{ webpage_title }}
  {% else %}
  {{ path_tail }}
{% endif %}
{% endblock %}

{% block body%}
  <div>
    <ul>
      {% for directory in directories %}
        {% if path or not directory.is_parent %}
          {% if directory.relative_path %}
            <li>
              <a href="{% if not path %}path/{% endif %}{{ directory }}/">
                <img src="{% static "images/" %}{{ directory.media_type.image }}" height="33" width="33">{{ directory }}
              </a>
            </li>
          {% else %}
            <li>
              <a href="/"><img src="{% static "images/" %}{{ directory.media_type.image }}" height="33" width="33">{{ directory }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for file in files %}
      <li>
        {% if file.get_media_type %} {# it is some kind of media, so render peek window #}
            <a title="Click to show/hide content" type="button" onclick="if(document.getElementById('spoiler_{{ file }}') .style.display=='none') {document.getElementById('spoiler_{{ file }}') .style.display=''}else{document.getElementById('spoiler_%s') .style.display='none'}">
              <img src="{% static "images/play.png" %}" width="30">
            </a>
            {% if file.get_media_type == "Video" %}
                <p id="spoiler_{{ file }}" style="display:none;clear:both">
                    <video height="480" width="640" preload="none" controls>
                        <source src="/file/{{ file.get_full_path }}/">
                        Your brower is piece of crap
                    </video>'demo/
                </p>
            {% elif file.get_media_type == "Audio" %}
                <p id="spoiler_{{ file }}" style="display:none;clear:both">
                    <audio preload="none" controls>
                        <source src="/file/{{ file.get_full_path }}/">
                        Your brower is piece of crap
                    </audio>
                </p>
            {% elif file.get_media_type == "Picture" %}
                <p id="spoiler_{{ file }}" style="display:none;clear:both">
                    <img src="/file/{{ file.get_full_path }}/">
                </p>
            {% elif file.get_media_type == "Text" %}
                <p id="spoiler_{{ file }}" style="display:none;clear:both">
                  <span style="white-space: pre-line">
                    <code>
                      {{ file.get_content }}
                    </code>
                  </span>
                </p>
            {% endif %}

        {% else %}
          <img src="{% static "images/blank.png" %}" width="30">
        {% endif %}
          <a href="/file/{{ file.get_full_path }}/"><img src="{% static "images/" %}{{ file.media_type.image }}" height="33" width="33">{{ file }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if loadtime %}
  <div>
    <br>
    <h3>
      <p>loaded in {{ loadtime }}ms</p>
    </h3>
  </div>
  {% endif %}

{% endblock %}

  <div class="white">
      {% if user.is_anonymous %}
      <a href="/login/{{ current_path }}">Login</a>
      {% else %}
      <a href="/logout">Logout</a>
      {% endif %}
  </div>

{% block navbar %}
  <ul class="nav navbar-nav">
    {% for element in path_elements %}
      <li><a href="/path/{{ element.0 }}">{{ element.1 }}</a></li>
    {% endfor %}
  </ul>

  <ul class="nav navbar-nav navbar-right">
    {% if user.is_anonymous %}
      <li><a href="/login/{{ current_path }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    {% else %}
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    {% endif %}
  </ul>
{% endblock %}
