{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_script %}
  <script src={% static "js/navbar.js" %}></script>
  <script src={% static "js/content_filter.js" %}></script>
  <script src={% static "js/main.js" %}></script>
{% endblock %}

{% block title %}
  {% if webpage_title %}
    {{ webpage_title }}
  {% else %}
    Coodise::{{ last_path_element }}
  {% endif %}
{% endblock %}

{% block body%}
  <div id="mainContainer" class="container">

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Content of {% if last_path_element %}{{ last_path_element }}{% else %}Coodise{% endif %}</h4>
      </div>
    </div>

    <div class="list-group">
        {% for directory in directories %}
          {% if path or not directory.is_parent %}
            {% if directory.relative_path %}
                <a href="{% if not path %}path/{% endif %}{{ directory }}/" class="list-group-item">
                  <span class="glyphicon glyphicon-folder-open"></span> {{ directory }}
                </a>
            {% else %}
                <a href="{% url "index" %}"><span class="glyphicon glyphicon-folder-open"></span> {{ directory }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

        {% for file in files %}
        <a href="{% url "file_server" file.get_full_path %}" class="list-group-item {% if user.is_anonymous %}disabled{% endif %}">
          {% if file.get_media_type %} {# it is some kind of media, so render peek window #}
            {% if not user.is_anonymous %}
              {% if file.get_media_type == "Video" %}
                  <p id="spoiler_{{ file }}" style="display:none;clear:both">
                      <video height="480" width="640" preload="none" controls>
                          <source src="{% url "file_server" file.get_full_path %}">
                          Your brower is piece of crap
                      </video>
                  </p>
              {% elif file.get_media_type == "Audio" %}
                  <p id="spoiler_{{ file }}" style="display:none;clear:both">
                      <audio preload="none" controls>
                          <source src="{% url "file_server" file.get_full_path %}">
                          Your brower is piece of crap
                      </audio>
                  </p>
              {% elif file.get_media_type == "Picture" %}
                  <p id="spoiler_{{ file }}" style="display:none;clear:both">
                      <img src="{% url "file_server" file.get_full_path %}">
                  </p>
              {% elif file.get_media_type == "Text" %}
                  <p id="spoiler_{{ file }}" style="display:none;clear:both">
                    <span style="white-space: pre-line">
                      <code>
                        {{ file.get_content }}
                      </code>
                    </span>
                  </p>
              {% endif %}

              <span class="badge file" title="Click to show/hide content" onmouseover="if(document.getElementById('spoiler_{{ file }}') .style.display=='none') {document.getElementById('spoiler_{{ file }}') .style.display=''}else{document.getElementById('spoiler_%s') .style.display='none'}">
                <span class="glyphicon glyphicon-search"></span>
              </span>
            {% endif %}
          {% endif %}
            <span class="glyphicon {{ file.media_type.image }}"></span> {{ file }}

            </a>
        {% endfor %}
    </div>

  {% if loadtime %}
    <div class="panel panel-default">
      <div class="panel-body">
        loaded in {{ loadtime }}ms
      </div>
    </div>
  {% endif %}

  </div>

{% endblock %}


{% block navbar_content %}
  <ul class="nav navbar-nav">
    {% for element in path_elements %}
      <li><a href="{% url "path" element.0 %} ">{{ element.1 }}</a></li>
    {% endfor %}
  </ul>

  <ul class="nav navbar-nav navbar-right">
    {% if user.is_anonymous %}
      <li><a href="{% url "login" current_path %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% else %}
      <li><a>Hi {{ user }}!</a></li>
      {% if user.is_staff %}
        <li><a href="/admin"><span class="glyphicon glyphicon-user"></span> Admin panel</a></li>
      {% endif %}
      <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    {% endif %}
  </ul>

  <form class="navbar-form navbar-right">
    <div class="input-group">
      <input type="text" class="form-control" id="filterInput" placeholder="Filter..." name="search">
    </div>
  </form>
{% endblock %}
