{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block extra_css %}
<link href="{% static "css/test.css" %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_extra_script %}
<script src={% static "js/test.js" %}></script>
{% endblock %}

{% block body %}
<a class="test" href="/">Index</a>
<a class="test" href="/">Index</a>

<ul class="test">
	<li>Polozka zoznamu</li>
	<li>Dalsia polozka zoznamu</li>
	<li>Tretia polozka zoznamu</li>
	<li>Este jedna polozka zoznamu</li>
</ul>
<ul id="prvyUl">
	<li>Novy zoznam</li>
	<li>Dalsia polozka noveho zoznamu</li>
	<li>Este jedna polozka</li>
</ul>

<div class="lg-8">
  <a href="http://google.sk">Google.sk</a>
  <a href="http://google.sk/static/subor.pdf">PDF Na googli</a>
  <a href="downloads/subor.xls">PDF Na tunak</a>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

{% endblock %}
