{% load crispy_forms_tags %}

{% if have_access_for_writing %}

{% include "modal_mixin.html" with modal_id="modal_create_dir" modal_header="Create new directory in current one" form=create_dir_form button_name="Create" %}

{% include "modal_mixin.html" with modal_id="modal_create_empty_file" modal_header="Create new empty file in current directory" form=create_file_form button_name="Create"  %}

{% include "modal_mixin.html" with modal_id="modal_upload_file" modal_header="Upload file" form=upload_file_form button_name="Upload" %}

{% endif %}
